# My Dotfiles
[![built with nix](https://builtwithnix.org/badge.svg)](https://builtwithnix.org)

## Systems

| System | Architecture | Roles |
|--------|--------------|-------|
{{#systems}}
| {{name}} | {{system}} | {{roles}} |
{{/systems}}

## Aspect Graph

```mermaid
graph LR
{{#edges}}
  {{from}} --> {{to}}
{{/edges}}
```

{{#systems}}
### {{name}}

**Architecture:** {{system}}
{{#roles}}
**Roles:** {{roles}}
{{/roles}}

**Aspects:**
{{#aspects}}
- {{name}}
{{/aspects}}
{{^aspects}}
_No aspects directly provide to this host_
{{/aspects}}

{{/systems}}

## Other Projects
- [xmonad](https://github.com/xmonad/xmonad)
- [xmonad-contrib](https://github.com/xmonad/xmonad-contrib)
- [alacritty](https://github.com/alacritty/alacritty)
- [ghostty](https://github.com/ghostty-org/ghostty)
- [neovim](https://github.com/neovim/neovim)
- [starship](https://github.com/starship/starship)
