# My Dotfiles
[![built with nix](https://builtwithnix.org/badge.svg)](https://builtwithnix.org)

## Systems

| System | Architecture | Roles |
|--------|--------------|-------|
{{#systems}}
| [{{name}}](#{{name}}) | {{system}} | {{roles}} |
{{/systems}}

{{#systems}}
## {{name}}

**Architecture:** `{{system}}`
{{#roles}}
**Roles:** {{roles}}
{{/roles}}

### Aspect Graph

```mermaid
{{{mermaid}}}
```

{{/systems}}

## Other Projects
- [xmonad](https://github.com/xmonad/xmonad)
- [ghostty](https://github.com/ghostty-org/ghostty)
- [neovim](https://github.com/neovim/neovim)
- [starship](https://github.com/starship/starship)
