[submodule "inputs/darwin"]
	path = inputs/darwin
	url = https://github.com/auscyber/dotfiles.git
[submodule "inputs/agenix"]
	path = inputs/agenix
	url = https://github.com/auscyber/dotfiles.git
[submodule "inputs/input-branches"]
	path = inputs/input-branches
	url = https://github.com/auscyber/dotfiles
[submodule "inputs/agenix-rekey"]
	path = inputs/agenix-rekey
	url = https://github.com/auscyber/dotfiles.git
[submodule "inputs/home-manager"]
	path = inputs/home-manager
	url = https://github.com/auscyber/dotfiles.git

[submodule "inputs/age-plugin-gpg"]
	path = inputs/age-plugin-gpg
	url = https://github.com/auscyber/dotfiles.git
[submodule "inputs/rift"]
	path = inputs/rift
	url = https://github.com/auscyber/rift.git
[submodule "inputs/attic"]
	path = inputs/attic
	url = https://github.com/auscyber/dotfiles.git
