# My Dotfiles
[![built with nix](https://builtwithnix.org/badge.svg)](https://builtwithnix.org)


### 🔨 My own work
* [fetch](fetch)
![large](screenshots/fetch/large.jpg)
![small](screenshots/fetch/small.jpg)
![image](screenshots/fetch/picture.jpg)
* [vim theme "pink ocean"](.config/nvim/colors/pink_ocean.vim)
![xmonad](screenshots/theme/xmonad.jpg)
![rust](screenshots/theme/rust.jpg)
![nvim](screenshots/nvim/full.jpg)
![bar](screenshots/polybar/whole.jpg)

| System name  |  system |
|:------------:|:--------|
{{#systems}}
| [{{name}}](#{{id}}) |  {{system}} |
{{/systems}}

| Home | system |
|:------------:|:--------|
{{#homes}}
| [{{name}}](#{{id}}) |  {{system}} |
{{/homes}}

## Homes
{{#homes}}
<h3 id="{{id}}">🏠 {{name}} </h3>

* [config](/homes/{{system}}/{{name}})

```
{{config}}
```
{{/homes}}
## Systems
{{#systems}}
<h3 id="{{id}}"> {{name}} </h3>

* [config](/systems/{{system}}/{{hostname}})

```
{{config}}
```
{{/systems}}





### 🤝 Other Projects
###### *(Non-extensive list*)

* [xmonad](https://github.com/xmonad/xmonad)
* [xmonad-contrib](https://github.com/xmonad/xmonad-contrib)
* [alacritty](https://github.com/alacritty/alacritty)
* [ghostty](https://github.com/ghostty-org/ghostty)
* [neovim](https://github.com/neovim/neovim)
* [Polybar](https://github.com/polybar/polybar)
* [rofi-themes](https://github.com/adi1090x/rofi)
* [starship](https://github.com/starship/starship)
* [*A large amount of vim/neovim plugins*](.config/nvim/fnl/plugins.fnl)
